.generator{
  margin: 0 auto;
  padding: 20px 10px;
  width: 556px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}
.popup{
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.9;
  color: aliceblue;
  z-index: 5;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  display: none;
}
.active{
  display: flex;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 0 20px 0;
}
.text {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.result {
  width: 80%;
  color: #fff;
  padding: 5px 10px;
  height: 19px;
  border-radius: 25px;
  font-weight: bold;
  background-color: transparent;
  font-style: oblique;
  border: 1px solid #fff;
}
.buttons {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gen{
  padding: 7px 10px;
  margin-right: 30px;
  border: 3px solid black;
  border-radius: 25px;
  background-color:  lightslategray;
  color: #000;
  outline: none;
}
.copy{
  padding: 7px 10px;
  border: 3px solid black;
  border-radius: 25px;
  background-color: lightslategray;
  color: #000;
  outline: none;
}
.check{
  border-radius: 25px;
  margin: 10px auto;
  padding: 10px 5px;
  text-align: center;
  border: 1px solid lightsteelblue;
  outline: none;
}
.passList {
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
  padding: 0;
}
.pass {
  list-style: none;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.min-max {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 65%;
  padding: 6px 0;
}
.inputMinMax {
  width: 25%;
  font-size: 15px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.inputMinMax:focus {
  outline: none;
  border: 1px solid #fff;
}
.radioButtonLabel {
  margin-bottom: 3px;
  font-size: 25px;
  font-weight: 700;
}
.min_max_err {
  width: 100%;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline red;
  padding: 5px 0;
}
.logout {
  width: 100px;
}
.myButtonGen {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButtonGen:hover {
	background-color:#5cbf2a;
}
.myButtonGen:active {
	position:relative;
	top:1px;
}
.myButtonCopy {
	background-color:#599bb3;
	border-radius:28px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButtonCopy:hover {
	background-color:#408c99;
}
.myButtonCopy:active {
	position:relative;
	top:1px;
}
.listbutton{
  padding: 3px 6px;
  height: 25px;
  border-radius:10px;
  /* margin-right: 65px; */
}
.myButtonLogout {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButtonLogout:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButtonLogout:active {
	position:relative;
	top:1px;
}
.myButtonSwitcher {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #1d97cf 5%, #ba9117 100%);
	background-color:#1d97cf;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButtonSwitcher:hover {
	background:linear-gradient(to bottom, #ba9117 5%, #1d97cf 100%);
	background-color:#ba9117;
}
.myButtonSwitcher:active {
	position:relative;
	top:1px;
}
.store {
  width: 90%;
  position: relative;
}
.storeList {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 460px;
  overflow-y: scroll;
}
.profile {
  width: 95%;
  padding: 0 0 0 5px;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-left: 3px solid #fff;
}
.create {
  margin-top: 15px;
  font-size: 15px;
}
.createShowBtn {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.createShowBtn:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.createShowBtn:active {
	position:relative;
	top:1px;
}

h3, h5, p {
  margin: 0;
  width: 50%;
}
h3{
  text-align: left;
}
h5{
  text-align: left;
}
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.passResult {
  width: 80%;
  text-align: left;
}
.fa-clipboard {
  color: #000;
  font-size: 14px;
}
.createPopupWrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.closeBtn {
	box-shadow:inset 0px 1px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
	border-radius:6px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.closeBtn:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.closeBtn:active {
	position:relative;
	top:1px;
}
.createPopup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titleInput,
.valueInput {
  width: 50%;
  margin: 15px 10px;
  font-size: 25px;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.titleInput:focus,
.valueInput:focus {
  border: 2px solid #fff;
  outline: none;
}
/* .gen {
  margin: 10px auto 0;
} */
.cansel {
	background:#be360d;
}
.cansel:hover {
	background:#f10606;
}