.sign-in {
  width: 320px;
  height: 335px;
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.login {
  color: rgb(51, 102, 255);
}
.password {
  color: rgb(255, 204, 0);
}
.reg-input {
  width: 90%;
  margin: 10px 0;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.reg-input:focus {
  border: 2px solid #fff;
  outline: none;
}
.reg-button {
  width: 40%;
  margin-top: 10px;
}
.myButtonLogin {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButtonLogin:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.myButtonLogin:active {
	position:relative;
	top:1px;
}
